:root {
  --primary: #ffa500;
  --bg: #0e0e10;
  --bg1: #1f1f23;
}

/* Jumbotron*/
.jumbotron {
  padding-top: 6rem;
  background-color: #ffa500;
  color: #1f1f23;
}

.jumbotron span {
  color: #fff;
}

/*aboutMe*/

#aboutMe,
#education,
#contact {
  background-color: #1f1f23;
  color: #fff;
}

#aboutMe span,
#experience span,
#education span,
#license span,
#contact span {
  color: #ffa500;
}

/*experience*/

#experience,
#license {
  background-color: #0e0e10;
  color: #fff;
}

.card {
  background-color: #1f1f23;
  color: #fff;
}

.list-group-item {
  background-color: #1f1f23;
  color: #fff;
}
.col-md-6 {
  padding-bottom: 2rem;
}

section {
  padding-top: 5rem;
}

h5 {
  color: #ffa500;
}

h2 {
  padding-bottom: 2rem;
}

button {
  color: #ffa500;
  background-color: #ffa500;
}

footer .footer {
  background-color: #ffa500;
  color: #fff;
  text-align: center;
  padding-bottom: 5rem;
  text-decoration: none;
}
